{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% for post in blogpages %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
<h1>{{ page.title }}</h1>
<p class="meta">{{ page.date }}</p>

<div class="intro">{{ page.intro }}</div>

{{ page.body|richtext }}

{% for item in page.gallery_images.all %}
<div style="float: left; margin: 10px">
{% image item.image fill-320x240 %}
<p>{{ item.caption }}</p>
</div>
{% endfor %}

{% for post in blogpages %}
{% with post=post.specific %}
<h2><a href="{$ pageurl post $}">{{ post.title }}</a></h2>
{% with post.main_image as main_image %}
{% if main_image %}{% image main_image fill-160x100 %}
{% endif %}
{% endwith %}
{% endfor %}

{% if page.tags.all.count %}
<div class="tags">
	<h3>Tags</h3>
	{% for tag in page.tags.all %}
	<a href="{% slugurl 'tags' %}?tag={{ tag }}"><button type="button">{{ tag }}</button></a>
	{% endfor %}
</div>
{% endif %}

<p><a href="{{ page.get_parent.url }}">Return to blog</a></p>

{% endblock %}